*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,'poppins';
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/banner.png);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 7%;
}
.logo{
    width: 140px;
    cursor: pointer;
}
.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
}
.register-btn{
    background: #fff;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
}
.container{
    padding: 0 7%;
}
.container h1{
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 22%;
}
.search-bar{
    background: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}
.search-bar form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.search-bar form label{
    font-weight: 600;
}
.search-bar form input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}
.search-bar form button{
    width: 45px;
    height: 45px;
    background: #ff5361;
    border: 0;
    border-radius: 50%;
    outline: none;
}
.search-bar form button img{
    width: 15px;
    margin-top: 6px;
}
.location-input{
    flex: 1;
}
/* exclusives */
.sub-title{
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #555;
}
.exclusives{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 30px;
}
.exclusives img{
    width: 100%;
    border-radius: 10px;
}
.exclusives div{
    position: relative;
}
.exclusives span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}
.exclusives span p{
    font-size: 12px;
}
.trending{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}
.trending img{
    width: 100%;
    border-radius: 10px;
}
.trending h3{
    font-weight: 600;
    margin-top: 10px;
}
.cta{
    margin: 40px 0;
    background-image: linear-gradient(to right,#3f2321,transparent),url(images/banner-2.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
}
.cta h3{
    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
}
.cta p{
    font-size: 18px;
    margin: 10px 0;
}
.cta-btn{
    background: #ff5361;
    padding: 12px 30px;
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}
.stories{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}
.stories img{
    width: 100%;
    border-radius: 10px;
}
.stories div{
    position: relative;
    text-align: center;
}
.stories p{
    width:60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 26px;
}
.start-btn{
    text-decoration: none;
    padding: 15px;
    background: #ff5361;
    color: #fff;
    border-radius: 30px;
    margin: 20px auto;
    display: block;
    text-align: center;
    max-width: 350px;
    font-size: 20px;
}
.about-msg{
    text-align: center;
    margin: 80px 0;
    color: #333;
    font-size: 17px;
}
.about-msg h2{
    font-size: 27px;
    margin-bottom: 30px;
    font-weight: 500;
}
.footer{
    margin: 80px 0 10px;
    text-align: center;
}
.footer a{
    text-decoration: none;
    font-size: 22px;
    color: #999;
    margin: 0 10px;
}
.footer hr{
    background: #ddd;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}
.footer p{
    color: #999;
    font-size: 13px;
    padding-bottom: 15px;
}
.active{
    position: relative;
}
.active::after{
    position: absolute;
    content: '';
    background: #ff5361;
    width: 50%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    border-radius: 2px;
}
nav .fa-bars{
    display: none;
}
@media only screen and (max-width:700px){
    .logo{
        position: fixed;
        top: 4%;
        left: 7%;
    }
    nav{
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        background: #000;
        text-align: right;
        padding: 100px 7% 0;
        max-height: 90px;
        overflow: hidden;
        transition: 0.5s;
    }
    nav .nav-links li{
        margin: 10px 0;
        display: block;
    }
    .register-btn{
        margin: 10px 0 30px;
        display: inline-block;
    }
    nav .fa-bars{
        display: block;
        position: fixed;
        top: 5%;
        right: 7%;
        color: #fff;
        font-size: 28px;
    }
    .active::after{
        width: 20%;
        background: #ff5361;
        left: -30%;
        transform: translate(0,50%);
        bottom: 50%;
    }
    .hidemenu{
        max-height: 300px;
    }
    .header h1{
        padding-top: 200px;
        font-size: 9vw;
    }
    .search-bar{
        width: 95%;
        padding: 20px 20px;
        margin:30px auto;
        border-radius: 10px;
        position: relative;
    }
    .search-bar form{
        display: block;
    }
    .search-bar form input{
        border-bottom: 1px solid #ddd;
        width: 100%;
        margin: 11px 0 16px;
    }
    .search-bar form button{
        position: absolute;
        left: 50%;
        transform: translate(-50%,50%);
        bottom: 0;
    }
    .sub-title{
        font-size: 6vw;
    }
    .cta{
        padding: 15% 5%;
    }
    .cta h3{
        font-size: 7vw;
        line-height: 10vw;
    }
    .cta p{
        font-size: 14px;
    }
    .cta-btn{
        padding: 6px 15px;
        border-radius: 4px;
        font-size: 14px;
    }
    .stories p{
        font-size: 22px;
    }
    .about-msg{
        font-size: 15px;
    }
}